<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for BovineLabs" Description="Code analysis rules for BovineLabs projects" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="None" /> <!-- The new and stackalloc keywords should always be followed by a space. -->
    <Rule Id="SA1101" Action="None" /> <!-- Prefix ALL Local Calls With this. -->
    <Rule Id="SA1127" Action="None" /> <!-- Generic Type Constraints Must start on a new line like where T : . -->
    <Rule Id="SA1128" Action="None" /> <!-- Constructor Initializer Must start on a new line like : base. -->
    <Rule Id="SA1134" Action="None" /> <!-- Attributes should not share line. -->
    <Rule Id="SA1200" Action="None" /> <!-- A C# using directive is placed outside of a namespace element. -->
    <Rule Id="SA1309" Action="None" /> <!-- A field name in C# begins with an underscore even for private fields. -->
    <Rule Id="SA1313" Action="None" /> <!-- Even discards Must Begin With Lower Case Letters. -->
    <Rule Id="SA1501" Action="None" /> <!-- Statements with return or continue Must Not Be On one line with brackets. -->
    <Rule Id="SA1503" Action="None" /> <!-- Curly braces should not be omitted ever. -->
    <Rule Id="SA1600" Action="None" /> <!-- Elements like all class members should be documented. -->
    <Rule Id="SA1601" Action="None" /> <!-- A C# partial element is missing a documentation header. -->
    <Rule Id="SA1602" Action="None" /> <!-- Enums Must Be Documented. -->
    <Rule Id="SA1633" Action="None" /> <!-- File should have header. -->
  </Rules>
</RuleSet>