<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for BovineLabs" Description="Code analysis rules for BovineLabs projects" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" /> <!-- A call to an instance member of the local class or a base class is not prefixed with 'this.', within a C# code file. -->
    <Rule Id="SA1309" Action="None" /> <!-- A field name in C# begins with an underscore. -->
  </Rules>
</RuleSet>